<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>886387045795-q2gbvjsas2vhvah8thdtv7c4q4c970ce.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.886387045795-q2gbvjsas2vhvah8thdtv7c4q4c970ce</string>
	<key>API_KEY</key>
	<string>AIzaSyDtDDla6XHoKNfbTDOm6xxD8lSRjlkTuBo</string>
	<key>GCM_SENDER_ID</key>
	<string>886387045795</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.currencyapp.test</string>
	<key>PROJECT_ID</key>
	<string>task-7f0f8</string>
	<key>STORAGE_BUCKET</key>
	<string>task-7f0f8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:886387045795:ios:c70e9ba0e58424e1269616</string>
	<key>DATABASE_URL</key>
	<string>https://task-7f0f8.firebaseio.com</string>
</dict>
</plist>